<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Iesi.Collections" version="3.2.0.4000" />
  <package id="NHibernate" version="3.3.1.4000" />
  <package id="NLog" version="2.0.0.2000" />
  <package id="NUnit" version="2.6.0.12054" />
  <package id="SpecFlow" version="1.8.1" />
  <package id="structuremap" version="2.6.3" />
  <package id="System.Data.SQLite" version="1.0.80.0" />
</packages>